<launch>
    <param name="/use_sim_time" value="true" />
  
    <!-- start world -->
    <node name="gazebo" pkg="gazebo_ros" type="gazebo"
     args="$(find multirobot_tb)/worlds/world1.world" respawn="false" output="screen" />
  
    <!-- include our robots -->
    <include file="$(find multirobot_tb)/launch/robots.launch"/>
  </launch>